<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Secure Coding Dojo</title>

<script src="public/jquery/dist/jquery.min.js"></script>
<script src="public/angular/angular.min.js"></script>
<script src="public/angular-route/angular-route.min.js"></script>
<script src="public/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="public/highlightjs/highlight.pack.min.js"></script>
<script src="public/canvas-confetti/dist/confetti.browser.js"></script>


<script src="static/main-app.js"></script>
<script src="static/dataSvc.js"></script>

<script src="static/challengesCtrl.js"></script>
<script src="static/leaderboardCtrl.js"></script>
<script src="static/submitCodeCtrl.js"></script>
<script src="static/codeBlocksCtrl.js"></script>
<script src="static/activityCtrl.js"></script>
<script src="static/dashboardCtrl.js"></script>
<script src="static/reportCtrl.js"></script>
<script src="static/solutionCtrl.js"></script>
<script src="static/trainingModulesCtrl.js"></script>

<link href="/public/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/public/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">
<link href="/public/highlightjs/styles/darkula.css" rel="stylesheet">

<script>
    window.localStorage.setItem('XSRF_TOKEN','%XSRF_TOKEN%');
    window.getAjaxOpts = function(){
       var opts =  {
           headers:{
               "xsrfToken":window.localStorage.getItem("XSRF_TOKEN")
           }
       }
       return opts;
    }
</script>
    

</head>
<body>

    <div ng-app="challengesApp" ng-controller="mainCtrl">
        
        <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
            <a class="navbar-brand" href="#!">Secure Coding Dojo (Instructor Dashboard) ==> {{firstName}}</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    
                </ul>
            
                <ul class="navbar-nav">
                    <li class="navbar-item" ng-if="user.accountId.indexOf('Local_')===0"><a class="nav-link" href="" data-toggle="modal" data-target="#profileModal">My Profile</a></li>
                    <li class="navbar-item"><a class="nav-link" href="/logout"><span class="oi oi-account-logout"></span> Logout {{fullName}}</a></li>
                </ul>
            </div>
        </nav>
            

       
             <!-- This is where the main view goes -->

            <div class="container-fluid">
                <p> </p>
                <p>The table below lists the students linked with you.</p>
                <form ng-submit="fetchMyStudents()">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Filter by name" id="nameFilter" role="searchbox">
                        <div class="input-group-btn">
                        <button class="btn" ng-click="fetchMyStudents()" role="search"><span class="oi oi-magnifying-glass"></span></button>
                        </div>
                    </div>
                </form>
            
                <table class="table table-striped">
                    <thead>
                    <tr>
                        
                        <th>Students</th>
                        <th>Team</th>
                        <th>Challenge</th>
                        <th>limit Belt</th>
                        <th>Hint</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="activityEntry in activityList">
                            
                            <td>{{studentsList.givenName}} {{studentsList.familyName}}</td>
                            <td>{{studentsList.givenName}} {{studentsList.familyName}}</td>
                           
                            <td>{{studentsList.challengeName}}</td>
                            <td><select name="cars" id="cars">
                                <option value="Yellow Belt">Yellow Belt</option>
                                <option value="Orange Belt">Orange Belt</option>
                                <option value="Green Belt">Green Belt</option>
                                <option value="Purple Belt ">Purple Belt </option>
                                <option value="Bleu Belt ">Bleu Belt </option>
                                     
                              </select></td>
                            <td><input type="checkbox" id="Hint" name="Hint" value="Hint"></td>
            
            
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>
            </div>
            

    








            <!-- Profile configuration -->
        <div id="profileModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Profile configuration UI -->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">User Profile</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                            <label for="currentusernn">Username :   </label> 
                        {{user.accountId.replace('Local_', '')}}
                    </div>
                    <div class="form-group">
                        <label for="currentPassword">Current Password:</label>
                        <input type="password" class="form-control" id="currentPassword" autocomplete="off" >
                    </div>
                    <div class="form-group">
                            <label for="newPassword">New Password:</label>
                            <input type="password" class="form-control" id="newPassword" autocomplete="off" >
                    </div>
                    <div class="form-group">
                        <label for="vfyPassword">Verify password:</label>
                        <input type="password" class="form-control" id="vfyPassword" autocomplete="off">
                    </div>
                           
                </div>
                <div class="alert alert-danger" id="teamErrorMessage" ng-if="isProfileSaveError">
                        <button type="button" class="close" ng-click="hideProfileSaveError()">&times;</button>
                        {{profileSaveErrorMessage}}
                </div>
                <div class="alert alert-success" id="teamSuccessMessage" ng-if="isProfileSaveSuccess">
                        <button type="button" class="close" ng-click="hideProfileSaveSuccess()">&times;</button>
                        {{profileSaveSuccessMessage}}
                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary" ng-click="updateLocalUser()">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


        
    </div> 
    
    <br><br><br><br>

</body>
</html>