
<div class="container" ng-app="challengesApp" ng-controller="trainingModulesCtrl" ng-init="init()" ng-if="role__==='student'">
    <h3>Hi {{firstName}}! Welcome to the Secure Coding Dojo!</h3>
    <p>Pick a training module below to start.</p>
    <div class="row" >
        <div class="col-lg-4 d-flex align-items-stretch" ng-repeat="(key, value) in modules" style="padding:1em" >
            
                <div class="card" >
                    <div class="card-header">
                        <span class="oi oi-circle-check" ng-if="isModuleComplete(key)"></span>
                        {{value.name}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{value.summary}}</h5>
                        <p class="card-text">{{value.description}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted" ng-if="value.requiredModules.length>0">
                            This module requires: <span ng-repeat="moduleId in value.requiredModules">{{modules[moduleId].name}}</span>
                        </small>
                        <a ng-href="#!challenges/{{key}}" class="btn btn-primary float-right" ng-class="{ disabled: !isModuleEnabled(key) }">Load</a>
                    </div>
                </div>
    </div>
    </div>
</div>

<div class="container" ng-app="challengesApp" ng-controller="trainingModulesCtrl" ng-init="init()" ng-if="role__==='instructor'">
    <h3>Hi professor {{firstName}}! Welcome to the Secure Coding Dojo!</h3>
    <br>
    <div class="container-fluid">
        <p> </p>
        <p>The table below lists the students linked with you.</p>
  
        <table class="table table-striped">
            <thead>
            <tr>

                <th>Student Name</th>
                <th>User Name</th>
                <th>Team Name</th>
                <th>Solution Button</th>
                <th>Current Belt</th>
                <th>limit Belt</th>
                <th>Hint</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="studentEntry in studentsList">
                    
                    <td>{{studentEntry.givenName}} {{studentEntry.familyName}}</td>
                    <td>{{studentEntry.accountId.replace('Local_','')}}</td>
                    <th>x</th>


                   
                    <td>{{studentEntry.solution_disabled}}</td>
                    <td> {{beltsdeff[studentEntry.currentLevel]}}</td>

                    <td><select name="challengelevel_limit" id="challengelevel_limit">
                        <option value="Belt_0">Yellow Belt</option>
                        <option value="Belt_1">Orange Belt</option>
                        <option value="Belt_2">Green Belt</option>
                        <option value="Belt_3">Purple Belt </option>
                        <option value="Belt_4">Blue Belt </option>
                        <option value="Belt_5">Black Belt </option>

                      </select></td>
                    <td><input type="checkbox" id="Hint" name="Hint" value="Hint" ></td>
    
    
                </tr>
            </tbody>
        </table>

        <br>
        {{teamList}}
        <br>
                                        
        {{studentsList}}			  
        <br>
        <br>
        {{teamList[0]}}
    </div>
    
</div>
