
<div class="container" ng-app="challengesApp" ng-controller="trainingModulesCtrl" ng-init="init()" ng-if="role__==='student'">
    <h3>Hi {{firstName}}! Welcome to the Secure Coding Dojo!</h3>
    <p>Pick a training module below to start.</p>
    <div class="row" >
        <div class="col-lg-4 d-flex align-items-stretch" ng-repeat="(key, value) in modules" style="padding:1em" >
            
                <div class="card" >
                    <div class="card-header">
                        <span class="oi oi-circle-check" ng-if="isModuleComplete(key)"></span>
                        {{value.name}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{value.summary}}</h5>
                        <p class="card-text">{{value.description}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted" ng-if="value.requiredModules.length>0">
                            This module requires: <span ng-repeat="moduleId in value.requiredModules">{{modules[moduleId].name}}</span>
                        </small>
                        <a ng-href="#!challenges/{{key}}" class="btn btn-primary float-right" ng-class="{ disabled: !isModuleEnabled(key) }">Load</a>
                    </div>
                </div>
    </div>
    </div>
</div>

<div class="container" ng-app="challengesApp" ng-controller="trainingModulesCtrl" ng-init="init()" ng-if="role__==='instructor'">
    <h3>Hi professor! Welcome to the Secure Coding Dojo!</h3>
    <div class="container-fluid">
        <p> </p>
        <p>The table below lists the students linked with you.</p>
  
        <table class="table table-striped">
            <thead>
            <tr>

                <th>Students</th>
                <th>Team</th>
                <th>Challenge</th>
                <th>limit Belt</th>
                <th>Hint</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activityEntry in studentsList">
                    
                    <td>{{activityEntry.givenName}} {{activityEntry.familyName}}</td>
                    <td>{{activityEntry.givenName}} {{activityEntry.familyName}}</td>


                   
                    <td>{{activityEntry.challengeName}}</td>
                    <td><select name="cars" id="cars">
                        <option value="Yellow Belt">Yellow Belt</option>
                        <option value="Orange Belt">Orange Belt</option>
                        <option value="Green Belt">Green Belt</option>
                        <option value="Purple Belt ">Purple Belt </option>
                        <option value="Bleu Belt ">Bleu Belt </option>
                             
                      </select></td>
                    <td><input type="checkbox" id="Hint" name="Hint" value="Hint"></td>
    
    
                </tr>
            </tbody>
        </table>
        <br>
        <br>
                                        
        {{studentsList}}			  

    </div>
    
</div>
